network:
    version: 2
    renderer: networkd
    ethernets:
        ens160:
            addresses:
                - {{ lan_ip }}/{{ prefix }}
            gateway4: {{ gateway }}
            nameservers:
                search: [{{ domain }}]
                addresses: [{{ name_server }}, {{ gateway }}]